* {
    box-sizing: border-box;
}

body {
    font-family: "Karla", sans-serif;
    margin: 0;
}
main {
    padding: 36px;
}
.header {
    display: flex;
    align-items: center;
    height: 65px;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: white;
    padding: 20px;
}
.header-img {
    height: 150%;
    margin-right: 6px;
}

.header-h2 {
    font-size: 1.50rem;
    margin-right: auto;
}

.header-h4 {
    font-size: 1.00rem;
    font-weight: 500;
}
.form {
    display: grid;
    grid-template: 50px 50px / 1fr 1fr;
    gap: 17px;
}

.form-inp {
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    border: 1px solid #D5D4D8;
    text-indent: 5px;
}

.form-btn {
    grid-column: 1 / -1;
    margin-left: 25%;
    max-width: 50%;
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    background-color: white;
    color: #672280;
    border-color: #672280;
    cursor: pointer;
    transition: 1s;
    font-size: 20px;
}
.form-btn:hover{
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    color: white;
    border: none;
}
.meme-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    border-radius: 20px;
    max-width: 500px;
}