* {
    box-sizing: border-box;
}

body {
    font-family: "Karla", sans-serif;
    margin: 0;
}
main {
    padding: 36px;
}
.header {
    display: flex;
    align-items: center;
    height: 65px;
    background: linear-gradient(100deg,#414141 ,#414141);
    color: white;
    padding: 20px;
}
.header-img {
    height: 150%;
    margin-right: 6px;
}

.header-h2 {
    font-size: 1.50rem;
    margin-right: auto;
}

.header-h4 {
    font-size: 1.00rem;
    font-weight: 500;
}
.form {
    display: grid;
    grid-template: 50px 50px / 1fr 1fr;
    gap: 17px;
}

.form-inp {
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    border: 1px solid #D5D4D8;
    text-indent: 5px;
}
.form-inp:hover{
    border-color: black;
}

.form-btn {
    grid-column: 1 / -1;
    margin-left: 25%;
    max-width: 50%;
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    background-color: #414141;
    color: white;
    border-color: black;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.5s;
    font-size: 15px;
}
.form-btn:hover{
    background-color: white;
    color: black;
    font-size: 16px;
    border-radius: 3px;
    border-color: black;
}
.meme-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    border-radius: 20px;
    max-width: 500px;
}
.meme {
    position: relative;
}
.meme-text {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.bm {
    bottom: 0;
}

.tp {
    top: 0;
}
@media only screen and (max-width: 600px) {
    .meme-img{
        max-width: 100%;
    }
}
@media only screen and (max-width: 300px) {
    .meme-img{
        max-width: 100%;
    }
}